[include shell_command.cfg]
# This file contains common pin mappings for MKS Robin Nano V3
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "USB for communication".

# The "make flash" command does not work on the MKS Robin. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "Robin_nano_v3.bin" on an SD card and then restart the
# MKS Robin with that SD card.

# See docs/Config_Reference.md for a description of parameters.


# ***********************************************************************************
# Definición de la Impresora
# ***********************************************************************************

[printer]
kinematics: cartesian
max_velocity: 600 #500 #185 # 300 #400 #500 #400 # 300 #20230729 # 20240307
max_accel: 3000 # 1500 # 3000 # 2400 # 1800 # 1500 #1750 #1500 # 1250 # 20231103
# max_accel_to_decel: 2000 # 20231103 # 20240314 Obsoleto debe desaparecer
max_z_velocity: 20 #20 # 20 # 12 # 20231110
max_z_accel: 200 #200 # 200 # 20231110
square_corner_velocity: 4.5 #5.0
#max_velocity: 1000
#max_accel: 1000

# **********************************************************************************
# Mainsail y Fluidd
# **********************************************************************************

[include mainsail.cfg]

[virtual_sdcard]
path: /home/joaquin/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# **********************************************************************************
# Macros, including folders, Cualquier fichero que haya dentro de esas carpetas, queda incluido
# **********************************************************************************

[include ./macros/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de macros

#[include adxl.cfg] # Comment this out when you disconnect the accelerometer

[include ./leds/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de leds

#[include KAMP_Settings.cfg] #KAMP

# **********************************************************************************
# Ajustes diversos, aunque necesarios
# **********************************************************************************

[exclude_object]

[print_stats]

[pause_resume]
recover_velocity: 50.0

[display_status]

[gcode_arcs]
resolution: 0.1

# **********************************************************************************
# Bltouch
# **********************************************************************************

#[bltouch]
#sensor_pin: ^PC8 # this is unique to your mainboard
#control_pin: PA8  #this is unique to your mainboard
#probe_with_touch_mode: false               # Activar para BL-Touch v3.0 ORIGINAL #nuevo
#stow_on_each_sample: true #nuevo
#pin_up_touch_mode_reports_triggered: false #nuevo
##pin_up_reports_not_triggered: True #nuevo
#x_offset: -42 #-52 # 37         #this needs to be calibrated
#y_offset: -3 #-10 # 9
#samples: 2
#speed: 3 #2
#sample_retract_dist: 5 #nuevo
#samples_tolerance: 0.03 #0.1 #0.03 #nuevo
#samples_tolerance_retries: 5 #nuevo
#samples_result: average #median #nuevo
##z_offset = 2.297#1.799
##z_offset: 1.947 #3.300

# **********************************************************************************
# MicroProbe
# **********************************************************************************

#[gcode_macro Probe_Deploy]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=1

#[gcode_macro Probe_Stow]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=0

#[output_pin probe_enable]
#pin: PA8         # Change this to the Servo/control pin number for your board.
#value: 0

#[probe]
#pin: ^!PC8         # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
#deactivate_on_each_sample: False
#x_offset: -40.0                    # Change the probe offsets to meet your machine requirements.
#y_offset: 0
##z_offset: 1.460
#speed: 5.0
#samples: 2
#sample_retract_dist: 2.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#activate_gcode:
#    Probe_Deploy
#    G4 P500
#      # allow time for probe to deploy before homing Z
#deactivate_gcode:
#    Probe_Stow

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044505930C6D21C-if00 #funciona
#serial: /dev/serial/by-path/platform-5200400.usb-usb-0:1:1.0
#serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340410AF3B1C-if00
restart_method: command
is_non_critical: True

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -42 # INSERT VALUE FOR YOUR PROBE POSITION
y_offset: 0 # INSERT VALUE FOR YOUR PROBE POSITION 

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[safe_z_home]
home_xy_position: 189,148.50 #147,145.50 #78,108.50 #115,117.50 #this should be the center of your bed
speed: 50 
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 10, 10 #10, 10       #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 283, 287 #283,297 #242,197 #214, 204 #220, 209 #230, 219  #needs to be calibrated for your individual printer
probe_count: 10, 10 #8,8 #5,5 #this is the number of probing points on X then Y axis
algorithm: bicubic
#mesh_pps: 2,2
#fade_start: 0.0
#fade_end: 10
#fade_target: 0

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 39.87 #39.86 #39.96
endstop_pin: !PA15
position_endstop: -4 #-17#0
position_max: 326 #325 #214 #241
position_min: -4 #-6 #-4 #-3 
homing_speed: 50

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 39.78 #39.77 #40 
endstop_pin: !PD2
position_endstop: -33 #-24 #-18#0
position_max: 300 #211 #204 #211 
position_min: -33 #-29 #-27 
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.5
position_max: 370 #200
position_min: -2.0 #-6.0

[stepper_z1]
step_pin: PD15
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
rotation_distance: 8
#endstop_pin: !PC8
#position_endstop: 0.5
#position_max: 200

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
#microsteps: 16
#rotation_distance: 7.712#33.500
#nozzle_diameter: 0.400
#filament_diameter: 1.750
microsteps:16
rotation_distance: 5.780 #5.7 ##rotation_distance: 23.967
#gear_ratio: 50:17
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
max_extrude_cross_section: 5
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 275
max_extrude_only_distance: 500

[tmc2209 stepper_x]
uart_pin: PD5
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 stepper_y]
uart_pin: PD7
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 stepper_z]
uart_pin: PD4
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 stepper_z1]
uart_pin: PD9
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999

[tmc2209 extruder]
uart_pin: PD8
interpolate: True
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 9999



[heater_fan my_nozzle_fan]
pin: PB1
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[extruder1]
#step_pin: PD15
#dir_pin: !PA1
#enable_pin: !PA3
#heater_pin: PB0
#sensor_pin: PA2
#...

[heater_bed]
heater_pin: PA0
#sensor_type: EPCOS 100K B57560G104F
sensor_type: Generic 3950 # Sensor de temperatura de la cama caliente, NTC 100K, beta 3950, estandar
sensor_pin: PC0
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10
min_temp: 0
max_temp: 130

[fan]
pin: PB0   # fan1
#pin: PB0   # fan2

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_000000000000000000000000-if00
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_24003D000350475039343920-if00
serial: /dev/ttyS5 #/dev/ph-uart5
#serial: /dev/ttyAMA0
baud: 250000
restart_method: command

[screws_tilt_adjust]
#screw1: 57,49 #-6,19.50
#screw1_name: front left screw
#screw2: 315,49 #164,19.50
#screw2_name: front right screw
#screw3: 315,250 #164,190.50
#screw3_name: rear right screw
#screw4: 57,250 #-6,190.50
#screw4_name: rear left screw
screw1: 57,250 #-6,190.50
screw1_name: rear left screw
screw2: 57,49 #-6,19.50
screw2_name: front left screw
screw3: 315,49 #164,19.50
screw3_name: front right screw
screw4: 315,250 #164,190.50
screw4_name: rear right screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    100, 100, 20  # an example

#[output_pin BEEPER_Pin]
#pin: rpi:gpio17 # for Raspberry Pi
#pwm: True

[skew_correction]

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

# See the MKS Lcd Config path file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.889
#*# pid_ki = 1.972
#*# pid_kd = 84.948
#*# pid_version = 1
#*# pid_target = 210.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.185
#*# pid_ki = 0.433
#*# pid_kd = 887.538
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*#
#*# [input_shaper]
#*# shaper_type_y = mzv
#*# shaper_freq_y = 34.2
#*# shaper_type_x = mzv
#*# shaper_freq_x = 32.6
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -2.220446049250313e-16
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.694553, 0.544720, 0.393489, 0.244999, 0.059810, -0.086481, -0.207150, -0.289931, -0.425524, -0.500277
#*# 	0.632725, 0.492459, 0.339970, 0.230304, 0.058253, -0.098839, -0.214158, -0.283043, -0.426244, -0.492609
#*# 	0.548481, 0.433926, 0.299152, 0.193890, 0.035620, -0.105531, -0.203650, -0.273670, -0.395584, -0.448315
#*# 	0.456487, 0.353669, 0.228856, 0.158944, 0.019826, -0.106242, -0.186823, -0.242410, -0.360065, -0.388010
#*# 	0.342714, 0.285676, 0.195059, 0.154467, 0.027739, -0.067271, -0.133195, -0.191699, -0.286312, -0.298672
#*# 	0.286531, 0.243286, 0.167581, 0.150281, 0.059810, -0.025724, -0.063981, -0.086802, -0.180225, -0.168150
#*# 	0.222476, 0.209401, 0.166095, 0.155964, 0.083046, 0.024272, -0.000928, -0.012825, -0.056090, -0.032203
#*# 	0.121933, 0.148786, 0.092323, 0.120418, 0.069134, 0.027739, 0.034047, 0.046611, 0.004536, 0.069134
#*# 	0.100919, 0.126471, 0.123446, 0.158948, 0.108256, 0.079964, 0.093812, 0.126473, 0.117381, 0.193892
#*# 	-2.061190, -1.886873, -1.869453, -1.917299, -1.977973, -2.025966, -1.775414, -1.926080, -2.048220, -2.010158
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 282.96999999999997
#*# min_y = 10.0
#*# max_y = 286.93
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDULcCJkssF/Y/ELPEEJ2f/T+6TRa+baXpPzyn/i+5f9w/TRD+Glq0cD9CzU/ZZgCZvxn0CAqfA9k/VNu5mlhk1D/CmFpwlfe2v7EqBSrszLq/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQjDo/1BoUlT60y5qDlmiVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ5GiYrXf+GkAsTFy80egJQAiPvgY34f0/Xy0vmvH8AkCGE9r2OR/Dv48CQugwoxLAXnx63kwK+z/82bab+hkeQBhItzZ8q8y/Lf+6AP+dCMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEK5lLfLWZZU+kGkpZl55lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1ACn+uGYFKVPkckbpUNpiE+f3kTToTDEb7JyBaC7TD1Pas8B1PwOPa9X05DuefC/z0JWYtXnpPzPd61wIUEuAS+EoCtZDLB2b2sQJKaY3XwPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAPpNtLItEz8ASoa2bO8TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Ey2ytE36AEdALf///////2WMB2ZfcmFuZ2WUXZQoR0FH17nUmAgAR0FISkTm1OgAZYwCZGOUSxB1Lg==
#*# tap_adjust_z = 0.020
